{% extends "listingscreen/base.html" %}

{% block content %}
<style>
  #contain {
    width: 500px;
  }
</style>
</div>
  <div class="container" id="contain">
    <h2>Book List Form</h2>
    <hr>

    <form action="/create_book">
        {% csrf_token %}
        <label class="form-group" for="title">Title: </label>
        <input class="form-control" type="text" name="title" required><br>

        <label class="form-group" for="author">Author: </label>
        <input class="form-control" type="text" name="author" required><br>

        <label class="form-group" for="pages">Pages: </label>
        <input class="form-control" type="number" name="pages" required><br>

        <label class="form-group" for="price">Price: </label>
        <input class="form-control" type="number" name="price" required><br>

        <input type="submit" class="btn btn-success" value="Create">
        <input type="reset" class="btn " value="Reset">
        <a href="{% url 'listingscreen-books' %}" id="cancel" name="cancel" style="color:white;" class="btn btn-warning">Cancel</a>

    </form>
  </div>
{% endblock content %}
